/* cartpagestyle.css */

.cart-page {
  margin-top: 64px;
}

.cart-page h1 {
  padding: 15px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  background-color: rgba(0, 0, 255, 0.072) !important;
}

.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

.cart-page .card {
  display: flex; /* Make the card contents flex to control alignment */
  padding: 10px !important; /* Increase padding for spacing */
  height: auto !important; /* Allow variable card heights */
  margin-bottom: 10px !important;
}

.cart-page .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-page .cart-summary {
  text-align: center;
}

.cart-page .card img {
  max-height: 100%; /* Adjust the value as needed */
  width: auto; /* Maintain aspect ratio */
}

.cart-page .card .col-md-4 {
  flex: 1; /* Let each detail column take equal space within the card */
  padding: 10px; /* Add some padding for spacing */
}

.cart-page .card p {
  font-weight: bold;
}